<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
	
	<bean id="localCacheManager" class="com.jaspersoft.jrio.common.execution.cache.LocalCacheManagerFactory" destroy-method="stop">
		<property name="configLocation" value="/WEB-INF/infinispan.xml"/>
	</bean>
		
	<bean id="reportExecutionQueue" class="com.jaspersoft.jrio.common.queue.LocalQueue">
	</bean>
	
</beans>
